*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: #f8f8f8;
}

header{
    height: 60px;
    width: 100%;
    background-color: #222121;
    color: #fff;
}

.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    
}